body {
    margin: 0;
    padding: 0;
    font-family: Commissioner, sans-serif;
    font-size: 15px;
    line-height: 25px;
}

h1 {
    font-size: $h1-mobile;
}

h2 {
    font-size: $h2-mobile;
    margin-bottom: 32px;
    line-height: 40px;
}

p {
    font-size: $text-regular-mobile;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.light {
    color: $white;
}

.red {
    color: $red;
}