@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;

    li {
        display: flex;
        justify-content: space-between;
    }
}

@mixin button( $style: 1 ) {

    color: $white;
    font-size: $text-regular;
    font-weight: 800;
    text-decoration: none;

    @if $style == 1 {
        background-color: $red;
        padding: 25px 40px;
    }

    @if $style == 2 {
        background-color: $black;
    }

    @if $style == 3 {
        background-color: inherit;
        color: $red;
        padding-bottom: 10px;
        border-bottom: 2px solid $red;
    }
}