@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;

    li {
        display: flex;
        justify-content: space-between;
    }
}

@mixin button( $style: 1 ) {

    color: $white;

    @if $style == 1 {
        background-color: $red;
        padding: 26px 35px;
    }

    @if $style == 2 {
        background-color: $black;
    }

    @if $style == 3 {
        background-color: inherit;
        color: $red;
    }
}