.nav {
    overflow: hidden;
    position: relative;

    #myNav {
        display: none;
        background-color: $black;
        padding: 28px;
        box-sizing: border-box;
        text-align: center;
        z-index: 999999;
    }

    a {
        display: block;
        color: white;
        padding: 12px 0;
        text-decoration: none;
        display: block;
    }
}

a.icon {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    background-image: url('../assets/mobile/icon-hamburger.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;
}