.nav {
    position: relative;
    box-sizing: border-box;

    #myNav {
        display: none;
        background-color: $black;
        padding: 28px;
        box-sizing: border-box;
        text-align: center;
        min-height: 292px;
        position: absolute;
        top: 56px;
        right: 0;
    }
}

nav {
    a {
        display: block;
        margin: 0 auto;
        color: white;
        margin: 24px 0;
        line-height: 32px;
        text-decoration: none;
        display: block;

        &:first-child {
            margin-top: 4px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .button {
        @include button(1);
        font-size: 16px;
        padding: 16px 35px;
        width: 129px;
    }
}

a.icon {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    background-image: url('../assets/mobile/icon-hamburger.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;

    .open + & {
        background-image: url('../assets/mobile/icon-cross.svg');
    }
}