.nav {
    position: relative;
    box-sizing: border-box;

    #myNav {
        display: none;
        background-color: $black;
        padding: 28px;
        box-sizing: border-box;
        text-align: center;
        width: 252px;
        min-height: 292px;
        position: absolute;
        top: 56px;
        right: 0;
    }

    a {
        display: block;
        margin: 0 auto;
        color: white;
        padding: 12px 0;
        text-decoration: none;
        display: block;
    }
}

a.icon {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    background-image: url('../assets/mobile/icon-hamburger.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;

    .open + & {
        background-image: url('../assets/mobile/icon-cross.svg');
    }
}